<plugin name='metridoc-rid' version='0.1-SNAPSHOT' grailsVersion='2.1 &gt; *'>
  <author>Your name</author>
  <title>Metridoc Rid Plugin</title>
  <description>Brief summary/description of the plugin.
</description>
  <documentation>http://grails.org/plugin/metridoc-rid</documentation>
  <type>MetridocRidGrailsPlugin</type>
  <resources>
    <resource>MetridocRidBootStrap</resource>
    <resource>metridoc.rid.RidAdminCourseSponsorController</resource>
    <resource>metridoc.rid.RidAdminDepartmentController</resource>
    <resource>metridoc.rid.RidAdminLibraryUnitController</resource>
    <resource>metridoc.rid.RidAdminModeOfConsultationController</resource>
    <resource>metridoc.rid.RidAdminRankController</resource>
    <resource>metridoc.rid.RidAdminSchoolController</resource>
    <resource>metridoc.rid.RidAdminServiceProvidedController</resource>
    <resource>metridoc.rid.RidAdminTransactionController</resource>
    <resource>metridoc.rid.RidTransactionController</resource>
    <resource>metridoc.rid.RidAdminUserGoalController</resource>
    <resource>metridoc.rid.RidCourseSponsor</resource>
    <resource>metridoc.rid.RidDepartment</resource>
    <resource>metridoc.rid.RidLibraryUnit</resource>
    <resource>metridoc.rid.RidModeOfConsultation</resource>
    <resource>metridoc.rid.RidRank</resource>
    <resource>metridoc.rid.RidSchool</resource>
    <resource>metridoc.rid.RidServiceProvided</resource>
    <resource>metridoc.rid.RidConsTransaction</resource>
    <resource>metridoc.rid.RidConsTransactionTemplate</resource>
    <resource>metridoc.rid.RidUserGoal</resource>
    <resource>metridoc.rid.RidBootStrapService</resource>
    <resource>metridoc.rid.RidManageLibraryUnitSpreadsheetsService</resource>
    <resource>metridoc.rid.RidTransactionService</resource>
    <resource>metridoc.rid.SpreadsheetService</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://metridoc.googlecode.com/svn/maven/repository/' url='http://metridoc.googlecode.com/svn/maven/repository/' />
    <repository name='https://oss.sonatype.org/content/repositories/snapshots' url='https://oss.sonatype.org/content/repositories/snapshots/' />
    <repository name='https://metridoc.googlecode.com/svn/maven/repository' url='https://metridoc.googlecode.com/svn/maven/repository/' />
    <repository name='http://download.java.net/maven/2/' url='http://download.java.net/maven/2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.apache.poi' name='poi' version='3.8-beta3' />
      <dependency group='org.apache.poi' name='poi-ooxml' version='3.8-beta3' />
    </compile>
    <build>
      <dependency group='org.tmatesoft.svnkit' name='svnkit' version='1.3.5' />
      <dependency group='com.google.code.maven-svn-wagon' name='maven-svn-wagon' version='1.4' />
    </build>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='metridoc-core' version='0.7' />
    </compile>
    <build>
      <plugin group='org.grails.plugins' name='rest-client-builder' version='1.0.3' />
      <plugin group='org.grails.plugins' name='release' version='2.2.0' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>